@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* CSS of Top Bar of Page START*/

.top-bar{
    text-align: right;
    font-size: 2px;
}

/* CSS of Top Bar of Page END*/


/* CSS of Menu Top Containg Images START*/
.menu-top{
    float: left;
    padding-left: 130px;
}
.menu-top-2{
    float: right;
    padding-right: 120px;
    margin-top: 10px;
    
}
.menu-top-3{
    float: right;
    padding-right: 10px;

}

@media only screen and (max-width: 730px){
    .menu-top{
        padding-left: 0;
    }
    .menu-top-2{
        padding-right: 0;
    }
}

/* CSS of Menu Top Containg Images END*/


/* CSS of Menu Bar START*/
#menu-bar-nss{
    clear: both;
}

.dropbtn {
    background-color: #303983;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgb(250, 46, 46)
}

.navbar {
    background-color: #2849db;
}

.container-fluid{
    padding-left: 250px;
    background-color: #303983;
}

@media only screen and (max-width: 600px){
    
    .navbar-toggler{
margin-left:88% ;
}

/*.container-fluid{
    padding-left: 0px;
}*/
.dropdown{            
    margin-left: auto;
    margin-right: auto;
}
.ulchange{
    position: relative;
    right: 180px;
}
}

.collapse{
    
    margin-left: 350px;
}

/* CSS of Menu Bar END*/


/* CSS of Latest News Horizontal START*/
a {
    color: #fff;
    text-decoration: none;
}

.ticker {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    height: 60px;
    margin: 0 auto;
    margin-top: 25px; margin-bottom: 40px;
}
.news {
    width: 76%;
    background: #5444cc;
    padding: 0 2%;
    padding-top: 18px;
    color: white;
    text-align: center;
}
.title {
    width: 20%;
    text-align: center;
    background: #eeaf30;
    position: relative;
}
.title:after {
    position: absolute;
    content: "";
    right: -16%;
    border-left: 20px solid #eeaf30;
    border-top: 33px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 33px solid transparent;
    top: 0;
}
.title h5 {
    font-size: 22px;
    margin: 8% 0;
}

@media only screen and (max-width: 400px){
    .title:after {
        position: absolute;
        content: "";
        right: -60%;
        border-left: 20px solid #eeaf30;
        border-top: 33px solid transparent;
        border-right: 20px solid transparent;
        border-bottom: 33px solid transparent;
        top: 0;
    }}

@media only screen and (max-width: 1000px){
    .title:after {
        display: none;
    }
    .title h5 {
        font-size: 18px;
        margin: 20% 0;
    }
    .news {
        width: 80%;
        background: #5444cc;
        padding: 0 2%;
        padding-top: 18px;
        padding-left: 20px;
        color: white;
        text-align: center;
    }
}

.news marquee {
    font-size: 18px;
}

/* CSS of Latest News Horizontal END*/


/*CSS of Welcome NSS START*/

.content-top {
    padding: 15px 0px;
    width: 100%;
    float: left;
    padding: 30px 0px;
}

.what-nss-about {
    width: 76%;
    float: right;
}

.welcome-nss {
    color: #303983;
    font-size: 22px;
    float: left;
}
.what-nss-about p {
    color: #000;
}
.welcome-nss span {
    font-size: 42px;
    color: #303983;
    display: block;
    font-weight: 500;
    padding-bottom: 5px;
}

.what-nss-text {
    width: 24%;
    float: left;
}

@media only screen and (max-width: 992px){
.welcome-nss{ 
    font-size: 14px;}
}

@media only screen and (max-width: 767px){
.welcome-nss {
    margin-bottom: 5px; }
}

@media only screen and (max-width: 767px){
.what-nss-about {
    margin-bottom: 15px;
}}

@media only screen and (max-width: 767px){
.what-nss-about p {
    font-size: 13px;}
}

@media only screen and (max-width: 767px){
.what-nss-text, .what-nss-about {
    width: 100%;}
}

/*CSS of Welcome NSS END*/



/*CSS of News and Events Card START*/

.blink_me {
    animation: blinker 0.8s linear infinite;
  }
  
@keyframes blinker{
    50% {
      opacity: 0;
    }
}

.leader{
    display: block;
}

.leader ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.leader ul li {
    margin-bottom: 2px;
}

.leader ul li .depdiv {
    background: #fff;
    width: 100%;
    padding: 9px 0px 9px 0px;
    border-top: 3px solid #6a838e;
    text-align: left;
}

.leader ul li .dep-logo {
    width: 82px;
    display: table !important;
    margin: 0 13px 2px 0;
    float: left;
}

.depdiv .dep-logo img {
    background: #fff;
}

.depdiv .dep-logo img {
    max-width: 100%;
    border-radius: 50%;
    border: rgb(255, 255, 255, 0.5) solid 6px;
}

.depdiv .dep-name {
    min-height: 77px;
}

.depdiv .dep-name {
    padding: 9px 20px 0 20px;
    display: block;
    margin: 0 auto -3px auto;
    box-sizing: border-box;
}

.leader ul li .dep-name h4 {
    color: #0a6cb5;
}

.depdiv .dep-name h4 {
    margin: 0 0 8px 0;
    padding: 0;
    color: #fff;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
}

.depdiv .dep-name p {
    margin: 0 0 10px 75px;
}
/*CSS of News and Events Card END*/



/*CSS of inbanner for All Pages START*/

.in-banner {
    position: relative;
    z-index: 0;
    min-height: 192px;
    background-image: url(/sites/home-page-slider/slider-1-nss.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -8px;
}

.in-banner:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.52);
    right: 0;
    top: 0;
    left: 0px;
    margin: 0px auto;
}

.inheading {
    position: absolute;
    right: 0;
    left: 0;
    margin: 0px auto;
    z-index: 100;
    padding: 0px;
    top: 15px;
    text-align: center;
}

.inheading h2 {
    color: #fff;
    font-size: 2em;
    display: inline-block;
    padding: 10px 25px;
    background-color: rgba(0,0,0,.5);
    border: 1px dashed rgba(255,255,255,.8);
    margin-top: 53px;
}

/*CSS of inbanner for All Pages END*/

/CSS of WIM Page START/
.team .member {
    text-align: center;
    margin-bottom: 20px;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
    padding: 30px 20px;
    background: #fff;
  }
  
  .team .member img {
    max-width: 60%;
    border-radius: 50%;
    margin: 0 0 30px 0;
  }
  
  .team .member h4 {
    font-weight: 700;
    margin-bottom: 2px;
    font-size: 18px;
  }
  
  .team .member span {
    font-style: italic;
    display: block;
    font-size: 13px;
  }
  
  .team .member p {
    padding-top: 10px;
    font-size: 14px;
    font-style: italic;
    color: #aaaaaa;
  }
  
  .team .member .social {
    margin-top: 15px;
  }
  
  .team .member .social a {
    color: #919191;
    transition: 0.3s;
  }
  
  .team .member .social a:hover {
    color: #cc1616;
  }
  
  .team .member .social i {
    font-size: 18px;
    margin: 0 2px;
  }

  
.section-title {
    text-align: center;
    padding: 30px 0;
    position: relative;
  }
  
  .section-title h2 {
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 0;
    color: #191919;
    position: relative;
    z-index: 2;
  }
  
  .section-title span {
    position: absolute;
    top: 30px;
    color: #f4f4f4;
    left: 0;
    right: 0;
    z-index: 1;
    font-weight: 700;
    font-size: 52px;
    text-transform: uppercase;
    line-height: 0;
  }
  
  .section-title p {
    margin-bottom: 0;
    position: relative;
    z-index: 2;
  }
  
  @media (max-width: 575px) {
    .section-title h2 {
      font-size: 28px;
      margin-bottom: 15px;
    }
  
    .section-title span {
      font-size: 38px;
    }
  }
  
  /*--------------------------------------------------------------
  # Contact
  -------------------------------------------------



/CSS of WIM Page END

