.container{
    width: 1600px;
    margin: auto;
}

.subcontainer{
    width: 95%;
    margin: auto;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr  1fr;
    gap: 1rem;
    padding: 20px;
    overflow-x: hidden;
}

.img{
    width: 100%;
    min-height: 185px;
    background-position: center;
    background-size: cover;
}


@media(max-width:1600px){
    .container{
        width: 100%;
    }
}